.placeholder {
    display: block;

    &_size {
        &_m {
            height: 72px;
            width: 72px;
        }
    }

    &_view {
        &_primary {
            background-color: var(--font-color-primary);
        }
    }
}