.warning {
    min-height: 335px;

    &__content {
        flex-direction: column;
        align-items: center;

        .placeholder {
            margin-top: var(--space-m);
            margin-bottom: var(--space-m);
        }

        .text__word {
            &_width {
                &_s {
                    margin-top: calc( ( var(--word-line-height) - var(--word-height) ) / 2 - 2px);
                    margin-bottom: calc( ( var(--word-line-height) - var(--word-height) ) / 2 + 2px);
                }
    
                &_m {
                    margin-top: calc( ( var(--word-line-height) - var(--word-height) ) / 2 - 2px);
                    margin-bottom: calc( ( var(--word-line-height) - var(--word-height) ) / 2 + 2px);
                }
    
                &_l {
                    margin-top: calc( ( var(--word-line-height) - var(--word-height) ) / 2 - 2px);
                    margin-bottom: calc( ( var(--word-line-height) - var(--word-height) ) / 2 + 2px);
                }
            }
        }
    }

    &__button-wrapper {
        padding-top: 32px;
    }
}