.grid {
    display: flex;
    justify-content: space-between;

    @media (max-width: $breakpoint) {
        flex-wrap: wrap;
    }

    &_m-columns {
        &_12 {
            --num-cols: 12;

            @media (max-width: $breakpoint) {
                --num-cols: 1;
            }
            
            --col-width: calc( (100% - var(--col-gap, 0)) / var(--num-cols, 1) );
        }

        &_10 {
            --num-cols: 10;

            @media (max-width: $breakpoint) {
                --num-cols: 1;
            }

            --col-width: calc( (100% - var(--col-gap, 0)) / var(--num-cols, 1) );
        }
    }

    &_col-gap {
        &_two-thirds {
            --col-gap: calc( var(--gap) / 3 * 2 );
        }

        &_full {
            --col-gap: var(--gap);
        }

        &_half {
            --col-gap: calc( var(--gap) / 2 );
        }
    }

    &_row-gap {
        &_half {
            --row-gap: calc( var(--gap) / 2 );
        }

        &_full {
            --row-gap: var(--gap);
        }
    }

    &__fraction {
        max-width: 100%;

        &:not(:last-of-type) {
            margin-right: var(--col-gap);
        }

        @media (max-width: $breakpoint) {
            &:not(:last-of-type) {
                margin-right: 0;
                margin-bottom: var(--col-gap);
            }
        }

        &_m-col {
            &_2 {
                width: calc( var(--col-width) * 2 );
            }

            &_3 {
                width: calc( var(--col-width) * 3 );
            }

            &_4 {
                width: calc( var(--col-width) * 4 );
            }

            &_5 {
                width: calc( var(--col-width) * 5 );
            }

            &_8 {
                width: calc( 100% / var(--num-cols) * 8 );      
            }
        }
    }
}