.image {
    width: 100%;
    border: 3px solid var(--background-border);
    background: var(--background-default) 50% 50% no-repeat;
    background-size: cover;

    &:empty {
        &::before{
            content: var(--background-image);
        }
    }
}