.text {
    display: flex;
    flex-wrap: wrap;

    &_align {
        &_center {
            justify-content: center;
        }
    }

    &_size {
        &_s {
            --word-width-s: 20px;
            --word-width-m: 48px;
            --word-width-l: 100px;
            
            --word-height: var(--size-s);
            --word-line-height: var(--line-height-s);
        }

        &_m {
            --word-width-s: 24px;
            --word-width-m: 56px;
            --word-width-l: 114px;

            --word-height: var(--size-m);
            --word-line-height: var(--line-height-m);
        }

        &_l {
            --word-width-s: 28px;
            --word-width-m: 68px;
            --word-width-l: 138px;

            --word-height: var(--size-l);
            --word-line-height: var(--line-height-l);
        }

        &_xl {
            --word-width-s: 32px;
            --word-width-m: 74px;
            --word-width-l: 154px;

            --word-height: var(--size-xl);
            --word-line-height: var(--line-height-xl);
        }

        &_xxl {
            --word-width-s: 36px;
            --word-width-m: 88px;
            --word-width-l: 184px;

            --word-height: var(--size-xxl);
            --word-line-height: var(--line-height-xxl);
        }
    }

    &_type {
        &_h1 {
            margin: 18px 0 24px;
        }

        &_h2 {
            margin: 45px 0 21px;
        }

        &_h3 {
            margin: 42px 0 0;
        }

        &_p {
            margin: 15px 0 21px;
        }
    }

    &_view {
        &_primary {
            --local-bg-color:: var(--font-color-primary);
        }

        &_secondary {
            --local-bg-color:: var(--font-color-secondary);
        }

        &_ghost {
            --local-bg-color: var(--font-color-additional);
        }

        &_link {
            --local-bg-color: var(--font-color-link);
        }
    }

    &__word {
        background-color: var(--local-bg-color);

        &_width {
            &_s {
                width: var(--word-width-s);
                height: var(--word-height);

                margin-top: calc( ( var(--word-line-height) - var(--word-height) ) / 2 );
                margin-bottom: calc( ( var(--word-line-height) - var(--word-height) ) / 2 );
            }

            &_m {
                width: var(--word-width-m);
                height: var(--word-height);

                margin-top: calc( ( var(--word-line-height) - var(--word-height) ) / 2 );
                margin-bottom: calc( ( var(--word-line-height) - var(--word-height) ) / 2 );
            }

            &_l {
                width: var(--word-width-l);
                height: var(--word-height);

                margin-top: calc( ( var(--word-line-height) - var(--word-height) ) / 2 );
                margin-bottom: calc( ( var(--word-line-height) - var(--word-height) ) / 2 );
            }
        }
    }
}