.product {
    min-height: 300px;

    &__title {
        padding-top: var(--space-xxl);
        padding-bottom: var(--space-xxl);
    }

    &__image {
        width: 100%;
        height: 160px;
    }

    &__footer {
        flex-direction: column;
    }
}