.grid {
    &_m-columns {
        &_12 {
            --num-cols: 12;

            @media (max-width: $breakpoint) {
                --num-cols: 1;
            }
        }

        &_10 {
            --num-cols: 10;

            @media (max-width: $breakpoint) {
                --num-cols: 1;
            }
        }
    }

    &_col-gap {
        &_two-thirds {
            margin-left: calc( var(--gap) / 3 * 2 );
            margin-right: calc( var(--gap) / 3 * 2 );
        }

        &_full {
            margin-left: var(--gap);
            margin-right: var(--gap);
        }

        &_half {
            margin-left: calc( var(--gap) / 2 );
            margin-right: calc( var(--gap) / 2 );
        }
    }

    &_row-gap {
        &_half {
            margin-left: calc( var(--gap) / 2 );
            margin-right: calc( var(--gap) / 2 );
        }

        &_full {
            margin-left: var(--gap);
            margin-right: var(--gap);
        }
    }

    &__fraction {
        &_m-col {
            max-width: 100%;

            &_2 {
                width: calc( 100% / var(--num-cols) * 2 );
            }

            &_3 {
                width: calc( 100% / var(--num-cols) * 3 );
            }

            &_4 {
                width: calc( 100% / var(--num-cols) * 4 );
            }

            &_5 {
                width: calc( 100% / var(--num-cols) * 5 );
            }

            &_8 {
                width: calc( 100% / var(--num-cols) * 8 );      
            }
        }
    }
}